* {
  box-sizing: border-box;
  color: #333;
}

:link{
  color: blue;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header */
header {
  /* padding: 7px; */
  text-align: center;
  color: #333;
  margin:0 0 -10px 0;
}

/* header image */
#headerimg {
  background-image: url('../images/img_header.png'); 
  width:100%; 
  min-height: 170px; 
  height: auto; 
  background-position: center;
  background-repeat: repeat; 
  background-size: cover;
}

/* Top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.container {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 75%;
  background-color: white;
  padding: 20px;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  font-size: 13px;
  background: #ddd;
}


/* section titles */
.title{
    color:#36B6C9;
}

.txt_update {
text-align: left;
font-size: 10px;
color:#737373;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
